body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    width: 100%;
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;

    width: 100%;
    text-align: center;
}

nav > h2 {
    grid-column: 1/6;
}

nav > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}