/* especificidad: 1 */
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: bold;
}

/* especificidad: 1 */
h1 {
    font-size: 5em;
}

/* especificidad: 1 */
h2 {
    font-size: 3em;
}

/* 002 */
nav > h2 {
    font-size: 2.5em;
}

/* especificidad: 1 */
h3 {
    font-size: 2em;
}

/* especificidad: 1 */
h4 {
    font-size: 1.75em;
}

/* especificidad: 1 */
h5 {
    font-size: 1.5em;
}

/* especificidad: 1 */
h6 {
    font-size: 1.25em;
}