/* 001 */
body {
    background-color: rgba(128, 128, 128, 0.1);
}

/* 001 */
h1 {
    background-color: rgba(128, 128, 128, 0.4);
    padding: 20px;
    margin: 20px;
}

/* 001 */
header {
    background-color: rgba(128, 128, 128,0.4);
    margin-bottom: 32px;
}

/* 001 */
h2 {
    background-color: rgba(128, 128, 128,0.5);
    padding: 10px;
    margin: 10px;
}

/* 002 */
nav > a, aside {
    background-color: rgba(128, 128, 128,0.5);
    padding: 10px;
    margin: 10px;
}

/* 001 */
section {
    background-color: rgba(128, 128, 128,0.2);
    padding: 10px;
    margin: 10px;
}

/* 001 */
footer {
    background-color: rgba(128, 128, 128,0.5);
    padding: 10px;
    margin: 10px;
}

/* 011 */
.audio > audio {
    background-color: rgba(128, 128, 128,0.5);
    padding: 10px;
    margin: 10px;
}

/* 011 */
header > nav > a:active {
    background-color: white;
    color: black;
}

/* 001 */
video {
    background-color: rgba(128, 128, 128,0.5);
    margin: 10px;
}

/* 001 */
li {
    background-color: rgba(128, 128, 128,0.5);
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

/* 001 */
img {
    background-color: rgba(128, 128, 128,0.2);
    margin: 10px;
    padding: 10px;
}

/* 001 */
tr:nth-child(odd) {
    background-color: rgba(128, 128, 128,0.3);
}